.uscroll_hidescrollbar {
	&::-webkit-scrollbar { display: none; }
}

.uscroll {
	display: block;
	border: 0;
	position: fixed;
	z-index: 999999;
	height: 0px;
	background-color: #000000;
}


.uscroll__orange {
	background-color: #FBAB7E;
	background-image: -webkit-linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
	background-image: -o-linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
	background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.uscroll__blue {
	background-color: #8EC5FC;
	background-image: -webkit-linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	background-image: -o-linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.uscroll__pink {
	background-color: #FAACA8;
	background-image: -webkit-linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
	background-image: -o-linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
	background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

.uscroll__left { left: 0; top: 0; bottom: 0; width: 5px; height: 0; }
.uscroll__right { right: 0; top: 0; bottom: 0; width: 5px; height: 0; }

.uscroll__top { right: 0; left: 0; top: 0; height: 5px; width: 0; }
.uscroll__bottom { right: 0; left: 0; bottom: 0; height: 5px; width: 0; }

.uscroll__custom {
	background-color: red;
}